<?xml version="1.0"?>
<config>
    <modules>
        <Neo_Latestnews>
            <version>0.1.1</version>
        </Neo_Latestnews>
    </modules>
    <frontend>
        <routers>
            <latestnews>
                <use>standard</use>
                <args>
                    <module>Neo_Latestnews</module>
                    <frontName>latestnews</frontName>
                </args>
            </latestnews>
        </routers>
        <layout>
            <updates>
                <latestnews>
                    <file>latestnews.xml</file>
                </latestnews>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<latestnews>
				<use>admin</use>
				<args>
					<module>Neo_Latestnews</module>
					<frontName>latestnews</frontName>
				</args>
			</latestnews>
        </routers>
    </admin>
    <adminhtml>
		<!--menu>
			<latestnews module="latestnews">
				<title>Latestnews</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="latestnews">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>latestnews/adminhtml_latestnews</action>
					</items>
				</children>
			</latestnews>
		</menu-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<latestnews>
											<title>Latestnews Module</title>
											<sort_order>10</sort_order>
										</latestnews>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<latestnews>
					<file>latestnews.xml</file>
				</latestnews>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <latestnews>
                <class>Neo_Latestnews_Model</class>
                <resourceModel>latestnews_mysql4</resourceModel>
            </latestnews>
            <latestnews_mysql4>
                <class>Neo_Latestnews_Model_Mysql4</class>
                <entities>
                    <latestnews>
                        <table>latestnews</table>
                    </latestnews>
                </entities>
            </latestnews_mysql4>
        </models>
        <resources>
            <latestnews_setup>
                <setup>
                    <module>Neo_Latestnews</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </latestnews_setup>
            <latestnews_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </latestnews_write>
            <latestnews_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </latestnews_read>
        </resources>
        <blocks>
            <latestnews>
                <class>Neo_Latestnews_Block</class>
            </latestnews>
        </blocks>
        <helpers>
            <latestnews>
                <class>Neo_Latestnews_Helper</class>
            </latestnews>
        </helpers>
    </global>
</config>